<%- content_for :report_title do -%>-guia_remision<%- end -%>

<div class="guia_remision">
	
<h2>Cotizaci&oacute;n</h2>

<div id="general">

	<dl>
		<% form_for @quote, :url=>{:action=>"save_quote", :id=>@quote.id} do |f| %>
		<dt class="hide">Documento: </dt>
		<dd class="hide"><%= f.text_field :document %></dd>
		
		<div class="single_column_left">

					<dt>			
					<%= f.label :store_id, "Tienda" %>
					</dt>

					<dd>
					<%= f.collection_select :store_id, Store.find(:all), :id,:name %>
					</dd>


			</div>


			<div class="single_column_left">
						<dt class="odd">
							<%= f.label :client_id, "Cliente:" %>
						</dt>

						<dd class="odd">
							<%= f.text_field :client_id, :autocomplete =>"off" %>
							<%= hidden_field_tag "quote[hidden_client_id]", "",:class=>"quote_hidden_client_id" %>
						</dd>

			</div>
			
			<div class="single_column_left">


					<dt class="odd">				
						<%= f.label :send_date, "Fecha: " %>
					</dt>

					<dd class="odd">
					<div class="small_fields">
					<%= f.date_select :quote_date, :class=>"small_fields"%>
					</div>
					</dd>

			</div>
			
			<div id="domicilio_llegada">
				<dt>Validez:</dt>
				<dd><%= f.text_field :duration %> días</dd>
			</div>			

			<div class="single_column_left">

				<dt>
					<%= f.label :sending_details, "Detalles de env&iacute;o" %>
				</dt>

				<dd>
					<%= f.text_field :sending_details %>
				</dd>

			</div>



			<div style="clear:both;"></div>	



			<div class="single_column_left">

				<dt>
					<%= f.label :quote_comments, "Comentarios adicionales" %>
				</dt>

				<dd>
					<%= f.text_field :quote_comments %>
				</dd>

			</div>

			

					
	</dl>
</div>

<h3 class="hide">Lista de Productos Solicitados</h3>

					
	<% i = 0 %>
	<% @quote.quote_details.find(:all,:include=>[:product]).each do |qd| %>
	<% fields_for :quote_details, qd, :index=>qd.id do |ff| %>
	<div class="quote_detail">
		
		<span>Producto: <%= qd.product.code %> </span>
		<span>Descripci&oacute;n: <%= qd.product.name %> <br /><%= strip_tags qd.product.description %></span>
		<span>¿Sin stock?: <%= ff.check_box :unavailable %></span>		
		<span>Cantidad: <%= ff.text_field :quantity %></span>
		<span>Precio: <%= ff.text_field :price %></span>				
			
			<div style="clear:both;"></div>

			<div class="single_column_left">
				
				<dt>
					<label>Precio Base</label>
				</dt>
				
				<dd>
						S/.<span id="base_price"><%= qd.product.all_current_prices[0].amount unless qd.product.all_current_prices[0].nil?  %></span>
				</dd>

			</div>		

			<div class="single_column_left">
				
				<dt>
					<label>Precio Mayorista</label>
				</dt>
				
				<dd>
						S/.<span id="boxed_price"><%= qd.product.all_current_prices[1].amount unless qd.product.all_current_prices[1].nil?%></span>
				</dd>

			</div>		

			<div class="single_column_left">
				
				<dt>
					<label>Precio Corporativo</label>
				</dt>
				
				<dd>
						S/.<span id="wholesale_price"><%= qd.product.all_current_prices[2].amount unless qd.product.all_current_prices[2].nil? %></span>
				</dd>

			</div>		

			<div class="single_column_left">
				
				<dt>
					<label>Precio Trigal</label>
				</dt>
				
				<dd>
						S/.<span id="final_price"><%= qd.product.all_current_prices[3].amount unless qd.product.all_current_prices[3].nil? %></span>
				</dd>

			</div>		

			<div class="single_column_left">
				
				<dt>
					<label>Precio Polo</label>
				</dt>
				
				<dd>
						S/.<span id="final_price_polo"><%= qd.product.all_current_prices[4].amount unless qd.product.all_current_prices[4].nil? %></span>
				</dd>

			</div>
		
	</div>							

	<% end %>
	<% end %>

<%= @quote.price %>

<div id="endzone">
<%= f.submit "Finalizar revisi&oacute;n", :class=>"form_button" %> <p>o <%= link_to "Regresar",reports_path %></p>
</div>
<% end %>



</div>