<% form_for @sending_guide, :method=>"post" do |f| -%>


<fieldset>
	<legend>Datos de la Salida</legend> 
	<p>Ingrese la informaci&oacute;n del destino y los productos respectivos</p>

	<dl>

		<div class="single_column_left">

			<dt>
				<%= f.label :document, "Documento:" %>
			</dt>

			<dd>
				<%= f.text_field :document %>
			</dd>

		</div>


				
	<div class="single_column_left">


				<dt>
					<%= f.label :store_id, "Tienda Origen:" %>
				</dt>
		
				<dd>
					<%= f.collection_select :store_id, Store.find(:all),:id,:name %>
				</dd>
		

	</div>
		
	
	<% if @sending_guide.no_type? %>
	<div class="single_column_left">
				<dt class="odd">
					<%= f.label :client_id, "Cliente:" %>
				</dt>
		
				<dd class="odd">
					<%= f.text_field :client_id, :autocomplete =>"off" %>
					<%= hidden_field_tag "sending_guide[hidden_client_id]", "",:class=>"sending_guide_hidden_client_id" %>
				</dd>
		
	</div>
	<% end %>

	<div class="single_column_left">
		
		
			<dt class="odd">				
				<%= f.label :sending_date, "Fecha de Salida: " %>
			</dt>

			<dd class="odd">
			<div class="small_fields">
			<%= f.date_select :sending_date, :class=>"small_fields"%>
			</div>
			</dd>
		
	</div>

	<% if @sending_guide.no_type? %>
	<div class="single_column_left">
		
		
			<dt class="odd">				
				<%= f.label :driver_name, "Nombre del Conductor: " %>
			</dt>

			<dd class="odd">
			<%= f.text_field :driver_name, :class=>"small_fields" %>
			</dd>
		
	</div>
	
	<div class="single_column_left">
		
		
			<dt class="odd">				
				<%= f.label :license_plate, "N&uacute;mero de licencia: " %>
			</dt>

			<dd class="odd">
			<%= f.text_field :license_plate, :class=>"small_fields"%>
			</dd>
		
	</div>	
	
	<div class="single_column_left">
		
		
			<dt class="odd">				
				<%= f.label :truck_description, "Descripci&oacute;n de veh&iacute;culo: " %>
			</dt>

			<dd class="odd">
			<%= f.text_field :truck_description, :class=>"small_fields"%>
			</dd>
		
	</div>	
	
	<div style="clear:both;"></div>
	
	<div class="single_column_left">
		
		
			<dt class="odd">				
				<%= f.label :delivery_address, "Dirección de Entrega: " %>
			</dt>

			<dd class="odd">
			<%= f.text_field :delivery_address %>
			</dd>
		
	</div>	

	<div class="single_column_left">
		
		
			<dt class="odd">				
				<%= f.label :delivery_contact, "Contacto para Entrega: " %>
			</dt>

			<dd class="odd">
			<%= f.text_field :delivery_contact%>
			</dd>
		
	</div>	

	<div class="single_column_left">
		
		
			<dt class="odd">				
				<%= f.label :delivery_phone, "Tel&eacute;fono de Entrega: " %>
			</dt>

			<dd class="odd">
			<%= f.text_field :delivery_phone, :class=>"small_fields"%>
			</dd>
		
	</div>
	<% end %>

	</dl>

	</fieldset>
	
	<%= render :partial => 'add_product' %>

	<span id="product_error"></span>
	
	<%= render :partial => 'product_list' %>	
	
	<div id="endzone">
		<%= f.submit "Finalizar Envío",:method=>"create", :confirm=>"¿Está seguro de finalizar el envío?",:class=>'form_button' %> <p>o <%= link_to "cancelar", catalogue_path %></p>
	</div>




<% end %>
