<h1>Editing sending_guide</h1>

<% form_for(@sending_guide) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :store_id %><br />
    <%= f.text_field :store_id %>
  </p>
  <p>
    <%= f.label :client_id %><br />
    <%= f.text_field :client_id %>
  </p>
  <p>
    <%= f.label :sending_date %><br />
    <%= f.datetime_select :sending_date %>
  </p>
  <p>
    <%= f.label :driver_name %><br />
    <%= f.text_field :driver_name %>
  </p>
  <p>
    <%= f.label :license_plate %><br />
    <%= f.text_field :license_plate %>
  </p>
  <p>
    <%= f.label :truck_description %><br />
    <%= f.text_field :truck_description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @sending_guide %> |
<%= link_to 'Back', sending_guides_path %>
