  <div id="detalle">
	
<table>
	<thead>
		<tr>
			<th width="100">Nombre</th>			
			<th width="100">Direcci&oacute;n</th>						
			<th width="50">Tel&eacute;fono</th>									
			<th width="50">Nombre Contacto</th>									
			<th width="50">RUC</th>									
			<th width="50">Cant. Ni&ntilde;os</th>												
			<th width="50">Presupuesto</th>												
		</tr>
	</thead>
	<tbody>
	<% for client in @clients %>
	<tr class="<%= cycle("even","odd") %>">
		<td><div style="width:100px;"><%= client.name %></div></td>
		<td><div style="width:100px;"><%= client.address %></div></td>
		<td><%= client.telephone %></td>
		<td><%= client.contact_person %></td>
		<td><%= client.ruc %></td>								
		<td><%= client.child_number %></td>										
		<td><%= client.budget %></td>										
	</tr>
	<% end %>
</tbody>
</table>
<%= will_paginate @clients %>
</div>