<div class="section">

<h3>Ordenes de Salida</h3>
<table>
	<thead>
	<tr>
		<th>Cantidad</th>		
		<th>Fecha de Envio</th>
		<th>Documento</th>		
		<th>Precio</th>		
		<th>Subtotal</th>
		<th></th>				
		<th></th>

	</tr>				
	</thead>
	<tbody>		
		<% if @exit_order_details.empty? %>	
			<tr>
			<td colspan="8">
				<p>El producto nunca ha sido enviado</p>
			</td>
			</tr>
		<% else %>
				
	<% @exit_order_details.each do |order_detail| %>
	<tr class="<%= cycle("even", "odd") -%>">
		<td><%= order_detail.quantity %></td>		
		<td><%= order_detail.exit_order.sending_date.strftime("%d/%m/%y") %></td>
		<td><%= order_detail.exit_order.document %></td>
		<td><%= order_detail.price %></td>				
		<td><%= order_detail.subtotal %></td>						
		<td><%= link_to "ver orden", exit_order_report_path(order_detail.exit_order.id) %></td>
		<td></td>
	</tr>
	<% end %>
	
	
	<% end %>
	</tbody>

</table>
</div>