<div id="consulta">
	<h4>cotizaci&oacute;n</h4>
	<table>
		<thead>
			<th></th>
			<th></th>
			<th></th>
		</thead>
		<tbody>				
		<% if @quote.quote_details.empty? %>	
			<tr>
				<td colspan="3">todavía no ha agregado ningún producto a su cotizaci&oacute;n</td>
			</tr>					
		<% else %>
			<% @quote.quote_details.reverse.each do |qd| %>
			<tr class="<%= cycle("even", "odd") -%>">
				<td><%= link_to "<img class='product_image' src='#{qd.product.picture.thumb.url}' alt='#{qd.product.name}' width='50'/>",product_catalogue_path(qd.product.id), :rel=>'facebox' unless qd.product.picture.nil? %> </td>
				<td><%= link_to qd.product.name.humanize, product_catalogue_path(qd.product.id), :rel=>'facebox' %> </td>
				<td><%= link_to_remote 'Eliminar',:url=>{:action=>"destroyDetail", :id=>qd.id}, :html=>{:class=>"remove"} %></td>							
			</tr>
			<% end %>
		<% end %>
		</tbody>	
	</table>


	<%= link_to "pedir cotizaci&oacute;n", "/web/consulta", :class=>"button" %>

</div>