<div class="start_subcontent"></div>

<div id="full_inside">

	<h2 id="detalle_product">Añadir a consulta</h2>

	<div id="detalle">
		
		<ul id="list">

				<li class="product">
					
					<div class="image">
						<%= link_to ("<img class='product_image' src='#{@product.picture.thumb}'/><span class='icon'/>",@product.picture.large.url, :title=>@product.description.capitalize) unless @product.picture.nil? %>  
						<%= link_to( image_tag("web/click.png"), @product.picture.large.url, :title=>strip_tags(@product.description.capitalize.gsub!("'",""))) unless @product.picture.nil? %>
					</div>

					<div class="text">
							<h2><%= @product.name.humanize %></h2> 							
							<div class="description_text">
								<%= strip_tags @product.description.humanize %>
							</div>
														
							<p><em>Categor&iacute;a:</em> <%= @product.category.nil? ?  "ninguna" : @product.category.name.humanize  %></p>
							<p><em>C&oacute;digo:</em> <%= @product.code %></p>
							<p><em>Edad:</em> <%= @product.age %></p>
							<p><em>Dimensiones:</em> <%= @product.height || 0 %>cm x <%= @product.width || 0 %>cm x <%= @product.length || 0%>cm</p>
							
							<% if @product.available_sale %>
							<div class="product_sale">
								<p><strong>OFERTA</strong></p> 
								<p><%= @product.sales_price(1) # Tienda Trigal %>(<%= @product.sale_discount %>% de descuento)</p>
								<p><%= @product.sale_description %></p>
							</div>
							
							<% end %>
															

							<% remote_form_for :quote_detail, :url=>{:action=>'add_to_quote', :id=>@product.id} do |f|  %>
								<%=  f.label :quantity, "Cantidad a consultar:"%>
								<%= f.text_field :quantity %>
								<%= image_submit_tag("web/add_to_quote.png") %>
							<% end %>

					</div>
				

				</li>

	 	</ul> <!-- list -->
	</div>
</div>
