<div id="content">

		<img id="header-image" src="http://www.skykidsperu.com/images/web/cotizacion-header.png" alt="Servicios" />

	</div> <!-- content -->
	
		<div id="header-strip">

		</div> <!-- header-strip -->



	<div class="end_content"></div>



	<div class="start_subcontent"></div>
	
	
	
<div id="inside">

	<div id="quote_content">

		<h2 id="cotizacion-title"><%= @quote.status == "requested" ?  "Pedido" : "Cotización de Skykids Perú Import S.A.C." %>   para <strong><%= @quote.client.name unless @quote.client.nil? %></strong></h2>
		<h2 id="cotizacion-title">Consultas de stock : 2711253 o 98-110*8168 (Nextel) </h2>

			<%= link_to "Imprimir", url_for(:action=>"print_quote", :id=>@quote.id) %>
			
			
		<div id="quote_wrapper">
			<%= render :partial => 'finished_quote_list' %>
		</div>
		
		<% unless @quote.status == 'requested' %>
		<p>La presente cotizaci&oacute;n tiene una duraci&oacute;n v&aacute;lida de <%= @quote.duration.blank? ? "0" : @quote.duration.to_s %> d&iacute;as y est&aacute; sujeta a disponibilidad de stock</p>
		<% end %>
		
		<div id="end_zone">
			
			<%= link_to "Imprimir", url_for(:action=>"print_quote", :id=>@quote.id), :class=>"download_pdf" %>
			<%= link_to "Descargar en Excel (*.xls)", download_quote_path(@quote.id), :class=>"download_xls" %> 
		 <!---	<%= link_to "Descargar en PDF (*.pdf)", download_pdf_quote_path(@quote.id), :class=>"download_pdf" %> -->
		</div>

	</div> <!-- quote_content -->

	</div> <!-- inside -- >