	<% remote_form_for :exit_order_detail,detail, :url=>{:controller=>"exit_order_details", :action=>"update", :id=>detail.id},  :method=>'put',  :index=>detail.id do |t| -%>

<tr id="row_<%= detail.id %>" class="<%= cycle("even", "odd") -%>">
	<td><%= detail_counter + 1 %></td>
	<td><%= t.text_field :quantity %></td>
	<td><%= t.text_field :price %></td>
	<td><%= t.text_field :discount %></td>
	<td><%= detail.product.code %></td>				
	<td><%= detail.product.name %></td>		
	<td><%= strip_tags detail.product.description %></td>			
	<td><%= t.submit "actualizar", :class=>"form_button" %></td>
	<td><%= link_to_remote 'eliminar', :url=>{:controller=>'exit_order_details',:action=>"destroy", :id=>detail.id}, :method=>"delete", :confirm=>"¿Desea eliminar el producto de la orden?	" %></td>	
</tr>


<% end -%>