

	<div id="fecha">
		<h2 class="fecha fecha_emision">
		<em><%= @sending_guide.sending_date.strftime("%d") %></em> 
		<em><%= @sending_guide.sending_date.strftime("%m")%></em>
		<em><%= @sending_guide.sending_date.strftime("%y")%></em>
		</h2>		
	</div>


<div id="datos">
  
	<div id="domicilio_partida">
      <%= @sending_guide.store.name %> <br /> 
      <%= @sending_guide.store.address %>
	</div>
			
  <div id="domicilio_llegada">
    <%- if @sending_guide.sending_type == SendingGuide::SendingTypes[0] -%>
      <%= @sending_guide.delivery_address.blank? ?  (@sending_guide.client.address unless @sending_guide.client.blank?) : @sending_guide.delivery_address %>
      <% end %>
	</div>

	<div id="destinatario">
	  <% if @sending_guide.sending_type == SendingGuide::SendingTypes[0]			 %>
        <%= @sending_guide.client.name unless @sending_guide.client.blank? %>
    <% elsif  @sending_guide.sending_type == SendingGuide::SendingTypes[5]			 %>
        <%= @sending_guide.try(:client).try(:name) %>
    <% end %>      
	</div>
			
</div>

<div id="productos">
  

    <table>
    	<thead>
      	<tr>
      		<th id="item" width="5"></th>		
      		<th id="cantidad"></th>		
      		<th id="codigo"></th>
      		<th id="descripcion"></th>
      		<th id="punit"></th>
      		<th id="importe"></th>		
      	</tr>
    	</thead>
    	<tbody>						
      	<% i = 0 %>
      	<% @sending_guide.sending_guide_details.each do |iod| %>
        	<tr class="<%= cycle("even", "odd") -%>">

          		<td><%= i+=1; i %></td>
          		<td><%= iod.quantity %></td>
          		<td><%= iod.product.code %></td>		
          		<td><%= iod.product.name %> <br /><%= strip_tags(iod.product.description) if iod.product.print_description %></td>
          		<% unless store? %>
          		<td> 0.00</td>				
          		<td>0.00</td>	
          		<% else %>					
          		<td><%= 0.00  %></td>				
          		<td><%= 0.00 %></td>	
		
          		<% end %>
        	</tr>
      	<% end %>
    	</tbody>
    </table>

</div>
