
<fieldset>
	<legend>Ventas del d&iacute;a</legend>
<table>
	<thead>
	<tr>
		<th>N&uacute;mero</th>		
		<th>Tipo</th>
		<th>Monto</th>		
		<th>Pago</th>				
	</tr>				
	</thead>
	<tbody>		
	<% @orders.each do |order| %>
	<tr class="<%= cycle("even", "odd") -%>">
		<td><%= order.number %></td>		
		<td><%= order.name %></td>				
		<td><%= order.price %></td>
		<td><%= order.credit_card.nil? ? "efectivo" : order.credit_card %></td>		
	</tr>
	<% end %>
	</tbody>

	<tbody class="credit_card_sales">

  <% @visa_orders.each do |order| %>
	<tr class="<%= cycle("even", "odd") -%>">
		<td><%= order.number %></td>		
		<td><%= order.name %></td>				
		<td><%= order.price %></td>
		<td><%= order.credit_card.nil? ? "efectivo" : order.credit_card %></td>		
	</tr>  
  <% end %>
	  
  </tbody>

	<tbody class="credit_card_sales">

  <% @mastercard_orders.each do |order| %>
	<tr class="<%= cycle("even", "odd") -%>">
		<td><%= order.number %></td>		
		<td><%= order.name %></td>				
		<td><%= order.price %></td>
		<td><%= order.credit_card.nil? ? "efectivo" : order.credit_card %></td>		
	</tr>  
  <% end %>
	  
  </tbody>


</table>
</fieldset>