<div class="inner_form">
  

<% if admin? %>

<% form_for(@fund) do |f| %>


    <div class="result">
      <%= f.error_messages %>
      <%= f.label :net_income, "Saldo del día anterior: " %><%= f.text_field :net_income %>
 
        <%= f.submit "actualizar", :class=>"form_button" %>
  	
  	</div>


<% end %>


<% else %>

	<div id="result">
		Saldo del d&iacute;a anterior: <%= @fund.net_income %>
	</div>

<% end %>
</div>