<% unless @pending_input_orders.nil? or @pending_input_orders.size.zero? %>

<div id="recover">
	<div class="opener">
		<p class="message">Tiene <%= @pending_input_orders.size %> órden(es) de ingreso abiertas adicionales</p>
		<p class="action"><a href="#" id="down">revisar</a></p>
	</div>
	<div class="recover_results">
		
		<table>
			<thead>
			<tr>
				<th>Documento</th>				
				<th>Fecha</th>
				<th>Proveedor</th>
				<th>Costo Total</th>
				<th></th>
				<th></th>		
			</tr>				
			</thead>
			<tbody>		
			<% @pending_input_orders.each do |input_order| %>
			<tr class="<%= cycle("even", "odd") -%>">
				<td><%= input_order.document %></td>				
				<td><%= input_order.order_date.strftime("%d/%m/%y") %></td>
				<td><div style="width:100px;"><%= input_order.provider.name unless input_order.provider.nil? %></div></td>
				<td><%= input_order.cost %></td>
				<td><%= link_to "recuperar", url_for(:action=>'recover',:id=>input_order.id), :method=>:post %></td>
		 		<td><%= link_to "eliminar", url_for(:action=>'destroy',:id=>input_order.id), :method=>:delete %></td>		
			</tr>
			<% end %>
			</tbody>

		</table>
		
	</div>
</div>

<% end %>