<% input_order = @input_order %>
<%= content_tag(:h2, "Ingreso a Tienda - #{print_input_type(input_order)}")%>

<%= render :partial =>'recover' %>

<%= error_messages_for :input_order %>
<span id="messages"><%= flash[:error] %></span>

<%= render :partial=>"general_data" %>
