<%- content_for :report_title do -%>-cotizacion<%- end -%>

<div class="cotizacion">
	
<h2>Cotizaci&oacute;n</h2>

<div id="general">

	<div id="date">
		<h3 class="date fecha_emision">
		<em><%= @quote.quote_date.strftime("%d") %></em> <span>/</span>
		<em><%= @quote.quote_date.strftime("%m")%></em><span>/</span>
		<em><%= @quote.quote_date.strftime("%y")%></em>
		</h3>
		
	</div>

	
	<dl>
		
		<dt class="hide">Documento: </dt>
		<dd class="hide"><%= @quote.document %></dd>
		
			<div id="domicilio_partida">
				<dt>Cliente: </dt>
				<dd><%= @quote.client.name unless @quote.client.nil? %></dd>				
			</div>
		
			<dt class="hide">Fecha de Cotizaci&oacute;n: </dt>
			<dd class="hide"><%= @quote.quote_date.strftime("%d/%m/%y") %></dd>	

			<div id="domicilio_llegada">
				<dt>Validez:</dt>
				<dd><%= @quote.duration.nil? ? "0" : @quote.duration %> días</dd>
			</div>			

			<dt class="hide">Contactos: </dt>
			<dd class="hide">
				<%= @quote.contact_name -%> (<%= @quote.sending_details -%>)

			</dd>


			<dt class="hide">Detalles: </dt>
			<dd class="hide">
				<% unless @quote.quote_comments.nil? %>
					<%= @quote.quote_comments -%><br />
				<% end %>

			</dd>
			

					
	</dl>
</div>

<h3 class="hide">Lista de Productos Cotizados</h3>

<table>
	<thead>
	<tr>
		<th id="count" width="5">Item</th>		
		<th id="count" width="5">Edad</th>				
		<th id="count" width="5">Sexo</th>				
		<th id="cantidad">Cantidad</th>		
		<th id="codigo">Código</th>
		<th id="descripcion">Descripci&oacute;n</th>
		<th id="importe">Alternativa</th>				
		<th id="importe">Pack</th>						
		<th id="punit">Precio</th>
		<th id="importe">Subtotal</th>		
	</tr>
	</thead>
	<tbody>						
	<% i = 0 %>
	<% @quote.quote_details.find_all_by_quote_id(@quote.id,:order=>"age_from ASC, age_to ASC, sex DESC",:include => [:product]).each do |qd| %>
	<tr class="<%= cycle("even", "odd") -%>">
		<td><%= i+=1; i %></td>
		<td><%= qd.age_from %>-<%= qd.age_to %></td>
		<td><%= qd.sex %></td>				
		<td><%= qd.quantity %></td>
		<td><%= qd.product.code %></td>		
		<td><%= qd.product.name %> <br /><%= strip_tags(qd.product.description) if qd.product.print_description %></td>
		<td><%= qd.additional ? "si" : "" %>
		<td><%= qd.pack_number %></td>			
		<td><%= qd.price %></td>				
		<td><%= qd.subtotal %></td>									
	</tr>
	<% end %>
	</tbody>
</table>
<table id="subtotals">
	<thead>
		<tr>
			<th id="total">TOTAL</th>			
			<th id="total">Total de Juguetes</th>			
			<th id="total">Promedio Por Juguete</th>			
		</tr>
	</thead>
	<tbody>
		<tr>
			<td id="total"><%= @quote.price %></td>			
			<td id="total"><%= @quote.total_products %></td>			
			<td id="total"><%= (@quote.price / @quote.total_products).to_f.round(2)  %></td>		
		</tr>
	</tbody>
</table>

<div id="endzone">
<%= link_to "imprimir", url_for(:action=>"print_quote", :id=>@quote.id), :class=>"form_button" %> <%= link_to("a pedido",url_for(:controller=>"quotes", :action=>"as_request",:id=>@quote.id), :class=>"form_button_inline") unless @quote.status == "requested" %> <%= link_to("marcar como le&iacute;do",url_for(:controller=>"quotes", :action=>"mark_as_read",:id=>@quote.id), :class=>"form_button_inline") %>  <%= link_to("duplicar",url_for(:controller=>"quotes", :action=>"duplicate",:id=>@quote.id), :class=>"form_button_inline") %> <%= link_to("ver via web","http://www.skykidsperu.com/web/cotizaciones/#{Base64.encode64(@quote.sending_details).gsub!("\n","")}", :class=>"form_button_inline") unless @quote.sending_details.blank? %> <%= link_to("enviar a cliente",send_quote_path(@quote.id), :class=>"form_button_inline") if admin? or store_supervisor? or store_admin? %> <%= link_to("editar",edit_quote_catalogue_path(@quote.id), :class=>"form_button_inline") if ((admin? or store_supervisor? or store_admin?) && @quote.status != "requested") %> <p>o <%= link_to "Regresar",reports_path %></p>
</div>




</div>