<% report_type = @report_type  %>
<h2>Reporte de <%= print_sending_guide_report_title(report_type) %></h2>
<table>
	<thead>
	<tr>
		<th>Documento</th>
		<th>Origen</th>				
		<th>Fecha de Salida</th>
		<%- if report_type.gsub('es','') == SendingGuide::SendingTypes[5] %>
		<th>Proveedores</th>				
		<%- end %>
		<%- if report_type == SendingGuide::SendingTypes[0] %>
		<th>Cliente</th>				
		<%- end -%>
		<th>Tipo de Salida</th>						
		<th></th>
		
	</tr>
	</thead>
	<tbody>						
	<% @sending_guides.each do |order| %>
	<tr class="<%= cycle("even", "odd") -%>">
		<td><%= order.document %></td>
		<td><%= order.store.name unless order.store.blank? %></td>		
		<td><%= order.sending_date.strftime("%d/%m/%y") unless order.sending_date.nil? %></td>
		<%- if report_type.gsub('es','') == SendingGuide::SendingTypes[5] %>
		<td><%= order.provider.name unless order.provider.blank? %></td>				
		<% end %>
		<%- if report_type == SendingGuide::SendingTypes[0] %>		
		<td><%= order.client.name unless order.client.blank? %></td>				
		<% end %>
		<td><%= order.sending_type %></td>						
		<td><%= link_to "Ver orden", sending_guide_report_path(order.id) %></td>
	</tr>
	<% end %>
	</tbody>
</table>

<div id="endzone">
  <%= link_to "Regresar", reports_path %>
</div>