<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<title>Skykids :: Intranet - Impresi&oacute;n </title>

	<%= stylesheet_link_tag "master_print","#{@report_name}.css" %>
	<%= stylesheet_link_tag("master_print","#{@report_name}", :media => :print) %>
	<%= javascript_include_tag "jquery-1.2.6.min.js" %>
	
		<script type="text/javascript" charset="utf-8">
		
		$(document).ready(function(){
	
			window.print();
			history.go(-1);

		});
			
	</script>
	
	</head>
	

	
	<body id="<%= @report_name -%>">

    <div id="pagina">

    				<%= yield -%>
      
    </div>

	</body>
	</html>